CS1032/pshar223_SIMPLE (2).xsd

<?xml version = "1.0"?>
<!--
Pragalvha Sharma
pshar223
251354461
March 19, 2024
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="LIBRARY">
		<xs:complexType>
		<xs:sequence>
			<xs:element name="BOOK" maxOccurs="4" minOccurs="4">
				<xs:complexType>
				<xs:sequence>
					<xs:element name="BookTitle" type="xs:string" />
					<xs:element name="BookAuthor" type="xs:string" />
					<xs:element name="NumberOfPages" type="xs:integer" minOccurs="0" maxOccurs="1" />
				</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>